<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFAuth</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/buttontable.css">
    <script src="/static/js/balls.js" defer></script>
    <dfauthmeta id="ws_address">{{ws_address}}</dfauthmeta>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800" class="balls">
        <defs>
            <filter id="blur-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feGaussianBlur stdDeviation="40" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur" />
            </filter>
        </defs>
        <g filter="url(#blur-filter)" id="balls-container">
        </g>
    </svg>
    <div class="content">
        {%block main%}
        {%endblock main%}
    </div>
    <p class="versioninfo">DFAuth version {{version}}.</p>
</body>
</html>